.contenedor{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    background-color: white;
    border: 3px solid  black;
    height: 200px;
    width: auto;
    margin:auto;
}

.rojo{
    background-color: red;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.azul{
    background-color:blue;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.verde{
    background-color:green;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}